---
layout: default
---
<div class="post" style="margin: 0; padding: 0; width: 100%;">
  <article style="margin: 0; padding: 0; width: 100%;">
    <div id="pdf-container" style="width: 100%; overflow: hidden;">
      <iframe id="pdf-iframe" src="{{ "/assets/pdf/CV.pdf" | relative_url }}" type="application/pdf" width="100%" style="border: none; overflow: hidden;" scrolling="no"></iframe>
    </div>
  </article>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
<script>
  const url = '{{ "/assets/pdf/CV.pdf" | relative_url }}';

  const pdfjsLib = window['pdfjs-dist/build/pdf'];
  pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js';

  const loadingTask = pdfjsLib.getDocument(url);
  loadingTask.promise.then(pdf => {
    const container = document.getElementById('pdf-container');
    const iframe = document.getElementById('pdf-iframe');
    const aspectRatio = 1.393; // A4 aspect ratio (height/width)
    const containerWidth = container.clientWidth; // Actual width of the PDF container
    const pageHeight = containerWidth * aspectRatio; // Dynamic page height based on container width and aspect ratio
    const totalHeight = pageHeight * pdf.numPages;

    console.log('Container width:', containerWidth);
    console.log('Aspect ratio:', aspectRatio);
    console.log('Page height:', pageHeight);
    console.log('Number of pages:', pdf.numPages);
    console.log('Total height:', totalHeight);

    iframe.style.height = `${totalHeight}px`;
    iframe.style.width = '100%'; // Ensure the PDF is adjusted to the width of the container
    iframe.style.transform = `scale(${containerWidth / iframe.clientWidth})`; // Scale to fit width
    iframe.style.transformOrigin = 'top left'; // Ensure scaling starts from the top left corner
    setupProgressBar();
  });

  function setupProgressBar() {
    const progressBar = document.getElementById('progress');
    const totalHeight = document.body.scrollHeight - window.innerHeight;
    window.addEventListener('scroll', () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const progress = (scrollTop / totalHeight) * 100;
      progressBar.style.width = progress + '%';
    });
  }

  document.addEventListener('DOMContentLoaded', setupProgressBar);
</script>
